body{
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-image: url("https://media4.giphy.com/media/v1.Y2lkPTc5MGI3NjExcWt0aHlkMm44NDZ4NHBwaWtwbDBnMm9seTV6bHhhbjQ1ZzRnb3Z2biZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/sFMDqop2ku4M0/giphy.gif");
}